.character-button{
    padding: 1rem;
    white-space: nowrap;
    text-align: center;
    width:100%;
}

.characters-button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.characters-button-container > * {
    flex:1
}