.characters-section-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    min-height: calc(100vh - 20rem);
    background-color: #93BFCF;
    font-family: 'Bangers', cursive;
}

.character-button{
    padding: 1rem;
    white-space: nowrap;
    text-align: center;
    width:100%;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    font-family: 'Bangers', cursive;
    font-weight: 100;
    /* font-size: 2rem; */
}

.character-button:hover{
    background-color: #cfc7c7;
    color: #000;
}

.characters-button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.characters-button-container > * {
    flex:1
}

.search-title  {
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem;
    color: #000;
    text-align: center;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    height: 2rem;
    text-align: center;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-text{
    margin: 1rem;
    text-align: center;
}