.header {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #e1e4e8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 5rem;
}

.home-link {
    color: #0366d6;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.favorites-link {
    color: #0366d6;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.app-title {
    color: #0366d6;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}
