.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    height:20rem;
    background-image: url('../../images/smallerAnimeBanner.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Bangers', cursive;
    color: #fff;
    text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
}

.home-link {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    position:absolute;
    top:.25rem; 
    left:.5rem;
    color: white;
}

.favorites-link {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    position:absolute;
    top:.25rem; 
    right:.5rem;
    color: white
}
.titles-container {
    margin: auto;
}
.app-title {
    font-size: 5rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    margin: 0;
}

.app-subtitle{
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    margin:0;
}

@media screen and (max-width: 768px) {
    .app-title {
        font-size: 4rem;
    }
    .app-subtitle {
        font-size: 2rem;
    }
    .titles-container {
        margin: auto
    }
}